<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Snippet - Microsoft Modern (Metro) Tiles</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css' />
  
  <link rel='stylesheet prefetch' href='css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
  <script rel="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
  <script rel="text/javascript" src="./js/script.js"></script>
  
  <style>
	.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  </style>
  
  
</head>

<body>
	<img src='./ismail_abi.jpg' alt="IsmailAbi" class="center">

</body>

</html>
